# Tiering Data

Tiering data taken from https://github.com/smogon/pokemon-showdown/blob/master/data/formats-data.ts, which is the official source for smogon pokemon data. In this section I will add this data to Natdex_Data.csv.

In [133]:
import pandas as pd
import numpy as np
print('setup complete')

setup complete

```formats-data.json``` shows the formatting as downloaded straight from the above link on 2/12/23. ```convert.tcl``` is a script written by my father (Pascal Martin) that partially reformats the pure typescript file containing a dictionary into a json file. The rest was edited by hand (the things throwing errors were two comment blocks). The fully converted json file can be found in ```tier-data.json``` and I will work with that from now onb

In [134]:
tier_df = pd.read_json('tier-data.json').T
pokemon_df = pd.read_csv('Natdex_Data.csv')

In [135]:
tier_df.head()

             isNonstandard     tier natDexTier doublesTier
bulbasaur             Past  Illegal         LC         NaN
ivysaur               Past  Illegal        NFE         NaN
venusaur              Past  Illegal         UU         NaN
venusaurmega          Past  Illegal         UU         NaN
venusaurgmax          Past  Illegal        NaN         NaN

In [136]:
pokemon_df.head()

,name,type1,type2,ability1,ability2,hiddenability,hp,atk,physdef,spatk,spdef,speed,bst,alternate,isLegend,isFinal
0,Bulbasaur,grass,poison,Overgrow,Chlorophyll,NaN,45,49,49,65,65,45,318,False,False,False
1,Ivysaur,grass,poison,Overgrow,Chlorophyll,NaN,60,62,63,80,80,60,405,False,False,False
2,Venusaur,grass,poison,Overgrow,Chlorophyll,NaN,80,82,83,100,100,80,525,False,False,True
3,Charmander,fire,NaN,Blaze,Solar Power,NaN,39,52,43,60,50,65,309,False,False,False
4,Charmeleon,fire,NaN,Blaze,Solar Power,NaN,58,64,58,80,65,80,405,False,False,False

These pokemon names are the same names as the index in the Data from the Showdown API call. Using ```name_conversion.csv``` (origin of which is found in ```Showdown_API```), I'm going to add in everything

In [137]:
name_conversion = pd.read_csv('name_conversion.csv')
name_conversion.columns = ['name', 'showdown_name']

In [138]:
name_conversion.head()

            name showdown_name
0      Bulbasaur     bulbasaur
1        Ivysaur       ivysaur
2       Venusaur      venusaur
3  Venusaur-Mega  venusaurmega
4     Charmander    charmander

In [139]:
# finding out which pokemon need to have their unique names added to name_conversion. likely mostly alternate forms
add_list = []
for i, value in name_conversion['name'].items():
    if (value in list(pokemon_df['name'].values)):
        pass
    else:
        add_list.append(name_conversion.loc[i]['name'])
print(add_list)

# '[]'

['Wyrdeer', 'Kleavor', 'Ursaluna', 'Basculegion', 'Sneasler', 'Overqwil', 'Enamorus']

Looks like there's nothing that needs to be added! perfect

In [140]:
def get_showdown_name(pokemon_name):
    '''
    Returns the showdown name of a give pokemon given its pokemon name. 
    REQUIRES the global variable name_conversion, which is a Pandas DataFrame. Not intended to be run outside of Add_Tiers.ipynb
    
    Parameters:
        pokemon_name (str): name of the pokemon in Natdex_Data.csv
    
    Returns:
        str: the pokemon's showdown name
    '''
    return name_conversion.query('name == @pokemon_name')['showdown_name'].values[0]

## Cleaning tier data

In [141]:
tier_df.head()

             isNonstandard     tier natDexTier doublesTier
bulbasaur             Past  Illegal         LC         NaN
ivysaur               Past  Illegal        NFE         NaN
venusaur              Past  Illegal         UU         NaN
venusaurmega          Past  Illegal         UU         NaN
venusaurgmax          Past  Illegal        NaN         NaN

Column of interest is ``natDexTier```

In [142]:
# creating a column that is duplicate of the index. Easier to work with when testing for truth

tier_df['name'] = tier_df.index

In [143]:
tier_df['natDexTier'].value_counts()

RU      539
LC      197
NFE      78
Uber     71
UU       42
OU       36
UUBL      5
AG        5
(OU)      1
Name: natDexTier, dtype: int64

In [144]:
# looking for examples of null natDexTier values

to_modify = tier_df[tier_df['natDexTier'].isnull() & tier_df['name'].isin(name_conversion['showdown_name'])]

Looks like some actual pokemon don't have a listed natDexTier. Some are not important, but some are.
* arceus forms
* pumpkaboo sizes
* gourgeist sizes

In [145]:
# checking to see if all the pokemon in "to_modify" are LC or NFE in tiering

to_modify.query('tier != "LC" and tier != "NFE" and tier != "Unreleased"')

               isNonstandard     tier natDexTier doublesTier            name
arceusbug       Unobtainable      NaN        NaN         NaN       arceusbug
arceusdark      Unobtainable      NaN        NaN         NaN      arceusdark
arceusdragon    Unobtainable      NaN        NaN         NaN    arceusdragon
arceuselectric  Unobtainable      NaN        NaN         NaN  arceuselectric
arceusfairy     Unobtainable      NaN        NaN         NaN     arceusfairy
arceusfighting  Unobtainable      NaN        NaN         NaN  arceusfighting
arceusfire      Unobtainable      NaN        NaN         NaN      arceusfire
arceusflying    Unobtainable      NaN        NaN         NaN    arceusflying
arceusghost     Unobtainable      NaN        NaN         NaN     arceusghost
arceusgrass     Unobtainable      NaN        NaN         NaN     arceusgrass
arceusground    Unobtainable      NaN        NaN         NaN    arceusground
arceusice       Unobtainable      NaN        NaN         NaN       arceusice
arceuspoison    Unobtainable      NaN        NaN         NaN    arceuspoison
arceuspsychic   Unobtainable      NaN        NaN         NaN   arceuspsychic
arceusrock      Unobtainable      NaN        NaN         NaN      arceusrock
arceussteel     Unobtainable      NaN        NaN         NaN     arceussteel
arceuswater     Unobtainable      NaN        NaN         NaN     arceuswater
greninjaash             Past  Illegal        NaN         NaN     greninjaash
pumpkaboosmall          Past      NaN        NaN         NaN  pumpkaboosmall
pumpkaboolarge          Past      NaN        NaN         NaN  pumpkaboolarge
pumpkaboosuper          Past      NaN        NaN         NaN  pumpkaboosuper
gourgeistsmall          Past      NaN        NaN         NaN  gourgeistsmall
gourgeistlarge          Past      NaN        NaN         NaN  gourgeistlarge
gourgeistsuper          Past      NaN        NaN         NaN  gourgeistsuper

In [146]:
tier_df.loc['charmander', 'natDexTier'] is np.nan

True

This is the list of all the mons that need to be given a tier. Other than that, it should be smooth sailing.

* arceus formes: ubers
* ashgren: ubers
* pumpkaboo sizes: LC
* gourgeist sizes: RU

## Starting the feature engineering process

In [147]:
def return_tier(pokemon_name):
    '''
    Returns the tier of the given pokemon
    REQUIRES Global variables pokemon_df (Pandas Dataframe), name_conversion (Pandas DataFrame), to_modify (Pandas DataFrame)
    This function is not intended to be used outside of Add_Tiers.csv
    
    Parameters:
        pokemon_name (str): name of the pokemon in question
        
    Returns
        str: Tier of the pokemon
    '''
    showdown_name = get_showdown_name(pokemon_name)
    if (showdown_name.find('squawkabilly') >= 0):
        return 'RU'
    tier = tier_df.loc[showdown_name, 'natDexTier']
    if (tier is not np.nan):
        return tier
    else:
        if (showdown_name.find('arceus') >= 0):
            return 'Uber'
        elif (showdown_name.find('greninja') >= 0):
            return 'Uber'
        elif (showdown_name.find('pumpkaboo') >= 0):
            return 'LC'
        elif (showdown_name.find('gourgeist') >= 0):
            return 'RU'
        else:
            return tier_df.loc[showdown_name, 'tier']

In [148]:
pokemon_df['tier'] = pokemon_df['name'].apply(return_tier)

In [149]:
# changing mega garchomp to UUBL to group it in with the other "technically OU but not actually" pokemon. 
# "OU by technicality" doesn't really matter as a field

pokemon_df.loc[1084, 'tier'] = 'UUBL'

In [152]:
#pokemon_df.to_csv('Natdex_Data.csv', index=False)

And that's it for this task!